<div class="floorplans">
	<div class="about-title">
		<h2>Floorplans</h2>
	</div>
	<div class="floorplan-images">
		<div class="image1">
			<h2>Berkeley Floorplan</h2>
			<img width="350" height="464" src="https://dr11y87h9nkoe.cloudfront.net/photos/52870684/grid/berkeley.png?1380054323" alt="stippled-photo-52870684" data-stipple-photo-id="52870684" />
			<script type="text/javascript" async src="https://stipple.com/embed/52870684.js"></script>
		</div>	
		<div class="image2">
			<h2>Carmel Floorplan</h2>
			<img width="550" height="490" src="https://dr11y87h9nkoe.cloudfront.net/photos/52870690/large/carmel.png?1380054329" alt="stippled-photo-52870690" data-stipple-photo-id="52870690" />
			<script type="text/javascript" async src="https://stipple.com/embed/5287069190.js"></script>
		</div>
		<div class="image2">
			<h2>Golden Gate Floorplan</h2>
			<img width="550" height="520" src="https://dr11y87h9nkoe.cloudfront.net/photos/52871192/large/goldengate.png?1380061917" alt="stippled-photo-52871192" data-stipple-photo-id="52871192" />
      <script type="text/javascript" async src="https://stipple.com/embed/52871192.js"></script>
		</div>		
		<div class="image3">
			<h2>Montclair Floorplan</h2>
			<img width="400" height="737" src="https://dr11y87h9nkoe.cloudfront.net/photos/52870691/extra_large/montclair.png?1380054333" alt="stippled-photo-52870691" data-stipple-photo-id="52870691" />
			<script type="text/javascript" async src="https://stipple.com/embed/52870691.js"></script>
		</div>		
		<div class="image4">
			<h2>Piedmont Floorplan</h2>
			<img width="650" height="529" src="https://dr11y87h9nkoe.cloudfront.net/photos/52870692/extra_large/piedmont.png?1380054337" alt="stippled-photo-52870692" data-stipple-photo-id="52870692" />
			<script type="text/javascript" async src="https://stipple.com/embed/52870692.js"></script>
		</div>	
	</div>
</div>
