<div class="floorplans">
	<div class="floorplan-images">
		<h1>Floorplans</h1>
		<div class="image1">
			<h1>Berkeley</h1>
		</div>	
		<div class="image2">
			<h1>Carmel</h1>
			<img src="assets/carmel.png">
		</div>		
		<div class="image3">
			<h1>Montclair</h1>
			<img src="assets/montclair.png">
		</div>		
		<div class="image4">
			<h1>Piedmont</h1>
			<img width="650" height="529" src="https://dr11y87h9nkoe.cloudfront.net/photos/52870692/extra_large/piedmont.png?1380054337" alt="stippled-photo-52870692" data-stipple-photo-id="52870692" />
			<script type="text/javascript" async src="https://stipple.com/embed/52870692.js"></script>
		</div>	
	</div>
</div>
