<div class="parkwoods-info">
	<div class="about-parkwoods">
		<div class="about-title">
			<h2>About Parkwoods</h2>
		</div>
	</div>
	<div class="recent-listings">
		<div class="recent-title">
			<h2>Recent Listings</h2>
			<%= render 'layouts/listingthumb' %>
		</div>
	</div>
</div>
