<div class="parkwoods-body">
	<div class="about-parkwoods">
		<div class="about-title">
			<h2>About Parkwoods</h2>
		</div>
		<div class="about-body">
			<div class="about-left">
				<p>Located  in the serene hillside setting of the Oakland Hills, the prestigious Parkwoods has the perfect blend of urban sophistication with suburban ease.  Everything about these gratifying condominiums - from the gated entry, comforting interiors and architecturally welcoming exteriors to the surrounding hills and greenery, Parkwoods is designed to please everyone. The natural setting against a backdrop of the East Bay Regional Park District on one side and the splendor of San Francisco Bay on the other, will be appreciated by all.</p>
			</div>
			<div class="about-right">
				<img src="assets/parkwoodsbirdseye.jpg">
			</div>
		</div>
		<div class="clear"></div>
		<div class="about-body-bottom">
			<div class="about-botleft">
				<img src="assets/parkwoodssign.jpg">
			</div>
			<div class="about-botright">
				<p>Located minutes away from the youthful neighborhoods of Claremont and Elmwood in Berkeley and Montclair Village, Rockridge and Piedmont Avenue in Oakland, Parkwoods allows you the luxury of living close to the gourmet and casual dining, shopping and the movie going urban experience while living in the comfort and the privacy of your own private community.<br/><br/>
				At Parkwoods you are only a minute away from all major commute routes to San Francisco, Walnut Creek or the North and South Bays by freeway. A short 5 minute drive by car and you can ride free weekdays to San Francisco through the local casual carpool program, 5 more minutes and you will be at the Rockridge BART station or you can walk outside your door of the Parkwoods complex and find the bus stop for the AC Transit Transbay bus to San Francisco waiting for you.</p>
			</div>
		</div>
	</div>
	<div class="recent-listings">
		<div class="recent-title">
			<h2>Recent Listings</h2>
		</div>
		<%= render 'layouts/listingthumb' %>
		<%= render 'layouts/listingthumb2' %>
		<%= render 'layouts/listingthumb3' %>
	</div>
</div>
