/*@media only screen and (max-width:700px) {
	.about-left, 
	.about-right {
		float: none;
		width: 100%;
	}
}*/

h2, p {
	font-family: 'Raleway';
}

h3, h4, h5 {
	margin: 0px;
}

ul {
	margin-right: 55px;
}

li {
	font-family: 'Raleway';
	font-weight: bold;
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

.header {
	border-bottom: 1px solid gray;
	height: 220px;
	margin: 0px auto
}

.header-logo {
	text-align: center;
}

/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ 

.navbar {
	border-bottom: 1px solid gray;
	li {
		list-style-type: none;
		display: inline-block;
		margin-left: 25px;
		a {
			text-decoration: none;
			font-size: 20px;
		}
	}
	ul {
		text-align: center;
	}
}

/* BODY */ /* BODY */ /* BODY */ /* BODY */ /* BODY */ 

.parkwoods-body {
	height: 1520px;
	min-width: 732px;
	max-width: 70%%;
	/*border: 1px solid blue;*/
	margin: 2% auto;
}

.about-parkwoods {
	height: 613px;
	width: 100%;
	/*border: 1px solid red;*/
	/*margin: 5px 10px;*/
	/*float: left;*/
}

.about-title {
	background-color: gray;
	height: 50px;
	margin-bottom: 15px;
	h2 {
	/*	margin: 5px 0px 0px 0px;*/
	padding-top: 10px;
	padding-left: 15px;
	}
}

.about-body {
	padding: 12px;
	height: 200px;
	/*border: 1px solid green;*/
	.about-left {
		/*border: 1px solid orange;*/
		width: 65%;
		height: 190px;
		float: left;
	}
	.about-right {
		float: right;
		width: 34%;
		max-width: 34%;
		margin-bottom: 15px;
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}

.about-body-bottom {
	/*border: 1px solid blue;*/
	height: 300px;
	width: 100%;
	.about-botleft {
		width: 33%;
		max-width: 33%;
		height: 0px;
			img {
				margin-top: 15px;
			width: 100%;
			/*max-width: 100%;*/
		}
	}
	.about-botright {
		/*border: 1px solid green;*/
		/*height: 259px;*/
		float: right;
		width: 65%;
		margin-right: 10px;
	}
}

.clear {
	clear: both;
}

/* RECENT LISTINGS */ /* RECENT LISTINGS */ /* RECENT LISTINGS */

.recent-listings {
	height: 750px;
	width: 100%;
	/*border: 1px solid green;*/
	margin-top: 15px;
	.recent-title {
		background-color: gray;
		height: 50px;
		margin-bottom: 15px;
		h2 {
			margin: 0px;
			padding-top: 10px;
			padding-left: 15px;
		}
	}
}

.listing {
	width: 100%;
	height: 240px;
	float: left;
	border-bottom: 1px solid #747474;
	border-radius: 2px;
	margin-top: 25px;
}

.listing-info {
	width: 67%;
	height: 100%;
	float: right;
	h1 {
		margin: 0px;
		font-family: 'Raleway';
		font-weight: 100;
		color: #008000;
	}
	h3, h5, p {
		font-family: 'Raleway';
	}
}

.listing-thumb {
	float: left;
	width: 29%;
}

.thumbnail-image {
	width: 100%;
	margin: 0px 10px 30px 10px;
	/*text-align: center;*/
}


/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ 

.footer {
	/*border: 1px solid gray;*/
	height: 220px;
	background-color: gray;
	/*margin-top: 20px;*/
}

.footer-border {
	height: 10px;
	background-color: #ED5B34;
}

.footer-image {
	img {
		margin: 165px 0px 0px 15px;
		width: 13%;
	}
}


