container	{
	
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

.header {
	border-bottom: 1px solid gray;
	height: 220px;
	margin: 0px auto
}

.header-logo {
	text-align: center;
}

/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ 

.navbar {
	border-bottom: 1px solid gray;
	li {
		list-style-type: none;
		display: inline-block;
		margin-left: 25px;
		a {
			text-decoration: none;
		}
	}
	ul {
		text-align: center;
	}
}

/* BODY */ /* BODY */ /* BODY */ /* BODY */ /* BODY */ 

.parkwoods-body {
	height: 1200px;
	min-width: 450px;
	max-width: 1080px;
	border: 1px solid blue;
	margin: 25px auto;
}

.about-parkwoods {
	height: 450px;
	width: 100%;
	border: 1px solid red;
	/*margin: 5px 10px;*/
	/*float: left;*/
}

.about-title

.recent-listings {
	height: 750px;
	width: 100%;
	border: 1px solid green;
	/*float: right;*/
}

.clear {
	clear: both;
}

/* RECENT LISTINGS */

.thumbnail-image {
	width: 20%;
	margin: 0px 10px;
	text-align: center;
}


/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ 

.footer {
	border: 1px solid gray;
	height: 50px;
	margin-top: 20px;
}

.footer-border {
	height: 30px;
	background-color: green;
}