<div class="footer-border"></div>
<div class="footer">
	<div class="footer-left">
		<div class="footer-image">
			<img src="assets/fastagentssbs.png" class="fastagentslogo">
		</div>
		<div class="follow-us">
			<img src="assets/facebook.png">
			<img src="assets/twitter.png">
		</div>
	</div>
	<div class="about-us">
		<img src="assets/mjrelogo.jpg" class="mjrelogo">
	</div>
</div>