<div class="footer-border"></div>
<div class="footer">
	<div class="footer-left">
		<div class="footer-image">
			<img src="assets/mjrelogo.jpg" class="mjrelogo">
			<img src="assets/fastagentssbs.png" class="fastagentslogo">
		</div>
		<div class="follow-us">
			<img src="assets/facebook.png">
			<img src="assets/twitter.png">
		</div>
	</div>
	<div class="about-us">
		<h3>About Us</h3>
		<ul>
		<li><%= link_to 'Contact Us'  %></li>
		<li><%= link_to 'Who we are' %></li>
		</ul>
	</div>
</div>