<div class="listing">
	<div class="listing-thumb">
		<img src="assets/pool.jpg" class="thumbnail-image">
	</div>
	<div class="listing-info">
		<h1>$1,203,401</h1><br />
		<h3>1234 Fast Ln, Oakland CA 12345</h3><br />
		<div class="listing-info-details">
			<h5>3 Bedrooms | 3 Bathrooms | 2,023 Sq Ft.</h5>
			<p>Escape into this beautifully updated home with designer touches. The interior shines with a lovely kitchen and large windows open up view of the picture perfect scenery outside.</p>
			<%= link_to 'Details', david_path %>
		</div>
	</div>
</div>
