<div class="listing">
	<div class="listing-thumb">
		<img src="assets/mansion.jpeg" class="thumbnail-image">
	</div>
	<div class="listing-info">
		<h1>$3,233,545</h1><br />
		<h3>3330 Robinson Dr, Oakland CA 12345</h3><br />
		<div class="listing-info-details">
			<h5>5 Bedrooms | 4 Bathrooms | 5,393 Sq Ft.</h5>
			<p>Escape into this beautifully updated home with designer touches. The interior shines with a lovely kitchen and large windows open up view of the picture perfect scenery outside.</p>
			<%= button_to 'Details' %>
		</div>
	</div>
</div>
