<div class="listing">
	<div class="listing-thumb">
		<img src="assets/mansion.jpeg" class="thumbnail-image">
	</div>
	<div class="listing-info">
		<h1>$3,233,545</h1><br />
		<h3>3330 Robinson Dr, Oakland CA 12345</h3><br />
		<div class="listing-info-details">
			<h5>5 Bedrooms | 4 Bathrooms | 5,393 Sq Ft.</h5>
			<p>Discover Keith's mansion... Beautiful mansion built in 1999 by the Nguyen tribe while under control of the Asazawa regime.  Although starved for days at a time, they worked tirelessly for their master.</p>
			<%= link_to 'Details' %>
		</div>
	</div>
</div>
