<div class="listing">
	<div class="listing-thumb">
		<img src="assets/house.jpg" class="thumbnail-image">
	</div>
	<div class="listing-info">
		<h1>$233,545</h1><br />
		<h3>1234 David Ct, Oakland CA 12345</h3><br />
		<div class="listing-info-details">
			<h5>2 Bedrooms | 1 Bathroom | 1,023 Sq Ft.</h5>
			<p>Escape into this beautifully updated home with designer touches. The interior shines with a lovely kitchen and large windows open up view of the picture perfect scenery outside.</p>
			<%= link_to 'Details' %>
		</div>
	</div>
</div>
