<div class="full-listing-view">
	<div class="basic-info">
		<ul>
			<li><h3>Address: 123 David Ct., Oakland CA 12345</h3></li>
			<li>Price: $1,234,567</li>
			<li>Beds: 3</li>
			<li>Bath: 2</li>
			<li>Home size: 2,456 sq ft.</li>
			<li>Lot size: 3,234 sq ft.</li>

		</ul>
	</div>
</div>